@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(24, 24, 27);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.container {
    background-color: rgb(200, 200, 200);
    padding: 1vw;
    width: 15vw;
    height: 35vh;
    box-shadow: 10px 10px 10px rgb(100,100,100);
    border-radius: 10px;
    opacity: 50%;
    transform: scale(1);
    transition: all 0.5s ease;
    overflow: hidden;
}

.container:hover {
    opacity: 100%;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.title {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.title span {
    font-size: 2rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: 600;
}

.output-box {
    background-color: rgb(48,48,56);
    position: relative;
    width: 99%;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(0,0,0);
    font-size: 1rem;
    overflow: hidden;
}

.output-box h1 {
    color: #fff;
    text-align: right;
}

.all-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.all-buttons button {
    box-shadow: 1px 1px 5px rgb(0,0,0);
}

.all-buttons button:hover {
    background-color: rgb(150, 150, 150);
    transition: all 0.5s ease;
}

.num-buttons {
    background-color: rgb(48,48,56);
    width: 10vw;
    height: 24vh;
    padding: 1rem;
    margin-right: 0.5vw;
    margin-top: 0.8vh;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(0,0,0);
}

.num-buttons ul {
    list-style-type: none;
    display: flex;
}

.num-buttons button {
    width: 2.2vw;
    height: 5vh;
    border-radius: 10px;
    margin: 0.1vh 0.1vw;
}

.operator-buttons {
    background-color: rgb(48,48,56);
    position: relative;
    border-radius: 10px;
    width: 4vw;
    height: 20vh;
    padding: 0.5vw;
    margin-top: 0.8vh;
    box-shadow: 1px 1px 10px rgb(0,0,0);
}

.operator-buttons button {
    background-color: #fff;
    width: 3vw;
    height: 2.5vh;
    display: grid;
    flex-direction: row;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
    margin-bottom: 0.5vh;
}